<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context"
                    name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="api-server"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]){magenta} %highlight(%-5level) %clr(${APP_NAME}){cyan} %clr(testRunId=){faint}%clr(%X{testRunId:-}){yellow} %clr(scenario=){faint}%clr(%X{scenario:-}){yellow} %clr(requestId=){faint}%clr(%X{requestId:-}){green} %clr(method=){faint}%clr(%X{method:-}){blue} %clr(uri=){faint}%clr(%X{uri:-}){blue} %clr([%logger{36}]){faint} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Set level to OFF to disable SQL/request DB summary logs. -->
    <logger name="SQL_LOG" level="INFO" additivity="true"/>
    <logger name="HTTP_DB_SUMMARY" level="INFO" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
