<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context"
                    name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="api-server"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level ${APP_NAME} testRunId=%X{testRunId:-} scenario=%X{scenario:-} requestId=%X{requestId:-} method=%X{method:-} uri=%X{uri:-} [%logger{36}] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--    끄고 싶으면 level을 OFF로-->
    <logger name="SQL_LOG" level="INFO" additivity="true"/>
    <logger name="HTTP_DB_SUMMARY" level="INFO" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

